.page-footer {
  background: var(--graphite);
  padding: 60px 0;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.page-footer__item:not(:first-child) {
  margin-top: 9px;
}

.page-footer__location {
  color: var(--white-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.page-footer__link {
  color: var(--grey-text-op60);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-top: 9px;
}
