/* -----Header styles----- */
.header-nav,
.header-nav__logo,
.header-nav__navigation,
.header-contacts__list,
.contacts,
.contacts-location {
  display: flex;
}

.contact__lis--item {
  align-items: center;
}

.header-nav,
.header-contacts__list {
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  padding: 32px 0 32px 0;
}

.header-nav__navigation {
  margin-left: 93px;
}

.header-nav__item:not(:first-child) {
  margin-left: 50px;
}

.header-nav__item:hover,
.header-nav__item:focus {
  color: var(--blue-text);

  @extend %transitDurTiming;
}

.header-nav__navigation .header-nav__link.header-nav__link-current {
  color: var(--blue-text);
}

.header-nav__link {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding: 26px 0;

  &:hover,
  &:focus {
    color: #2196f3;

    @extend %transitDurTiming;
  }
}

.header-nav__link.header-nav__link-current {
  color: var(--back-blue);
  position: relative;
}

.header-nav__link-current::after {
  content: '';

  position: absolute;
  top: 77px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--back-blue);

  border-radius: 2px;
}

.header-contacts__list {
  margin-left: auto;
}

.header-contacts__link {
  color: var(--grey-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    color: #2196f3;

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
    --transiton-duration-time: 250ms;
  }
}

.header-contacts__item {
  display: flex;
  align-items: center;

  &:nth-child(2) {
    margin-left: 50px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    color: #2196f3;

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
    --transiton-duration-time: 250ms;
  }
}

.envelope-4 {
  margin-top: 50px;
}
