/* -----Header styles----- */
.header__nav,
.logo,
.navigation,
.header-adress,
.contacts,
.contacts-location {
  display: flex;
}

.contact__lis--item {
  align-items: center;
}

.header__nav,
.header-adress {
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  padding: 32px 0 32px 0;
}

.navigation {
  margin-left: 93px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.navigation .link.current {
  color: var(--blue-text);
}

.link {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding: 26px 0;

  &:hover,
  &:focus {
    color: #2196f3;

    @extend %transitDurTiming;
  }
}

.link.current {
  color: var(--back-blue);
  position: relative;
}

.current::after {
  content: '';

  position: absolute;
  top: 76px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--back-blue);

  border-radius: 2px;
}

.header-adress {
  margin-left: auto;
}

.adress {
  color: var(--grey-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    color: #2196f3;

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
    --transiton-duration-time: 250ms;
  }
}

.header-adress__item {
  display: flex;
  align-items: center;

  &:nth-child(2) {
    margin-left: 50px;
  }
}

.header-adress__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    color: #2196f3;

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
    --transiton-duration-time: 250ms;
  }
}

.envelope-4 {
  margin-top: 50px;
}
