/* -----Social styles----- */
.social {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.social__item {
  display: flex;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  @extend %transitDurTiming;

  &:hover,
  &:focus {
    background-color: var(--back-blue);
  }
}

.social__link {
  width: 44px;
  height: 44px;

  @include flexCenter;
}

.social__icon {
  fill: var(--social-link-color);

  transition-property: fill;
  @extend %transitDurTiming;
}

.social__item:hover .social__icon,
.social__item:focus .social__icon {
  fill: var(--white-text);
}

/* -----Footer social styles----- */
.footer-social {
  margin-left: 70px;
}

.social-social__title {
  font-weight: 500;
  line-height: 1.172;
  text-transform: uppercase;

  color: var(--white-text);
}

.social__card {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.social__item--footer {
  display: flex;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  @extend %transitDurTiming;
}

.social__item--footer {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__item--footer:hover,
.social__item--footer:focus {
  background-color: var(--back-blue);
}

.social__link--footer {
  width: 44px;
  height: 44px;

  @include flexCenter;
}

.social__icon--footer {
  fill: var(--social-link-color);

  transition-property: fill;
  @extend %transitDurTiming;
}

.social__icon--footer {
  fill: var(--back-white);
}

.social__item--footer:hover .social__icon--footer,
.social__item--footer:focus .social__icon--footer {
  fill: var(--white-text);
}

.social {
  margin-top: 20px;
}
